.headerZone {
  font-size: 70px;
  text-align: center;
  color: #5687f0;
  padding: 20px;
  font-weight:bold;
}

.explanation {
  margin-left: 32px;
  font-size: 30px;
}

.mainZone{
  display:flex;
  margin-left: 22px;
  margin-right: 20px;
}

.inputZone {
  border: 2px solid rgba(0, 0, 0, .12);
  width: 500px; 
	height: 350px;
margin: 10px;
}

.languageZone{
  margin-top: 175px;
  height:30px;
}

.translateBtn{
  color: #fff;
  background-color: #6f9cfc;
  height:31px;
  margin-top: 175px;
}

.translateBtn:hover{
  color: #fff;
  background: #8eaff7;
  cursor: pointer;
}

.outputZone {
  display: inline-block;
  border: 2px solid rgba(0, 0, 0, .12);
  width: 500px; 
	height: 355px;
margin: 10px;
}
